// 背景灰
$primary: #f6f7f9;

// 表单灰
$form-bg: #f8f9fa;
// 侧栏灰
$sidebar-bg-on: #f5f5f5;

// 按钮
$btn-bg-on: #016dff;

// 标签
$tag-bg-on: #6c757d;

// markdown
$md-strong: #000;
$md-a: #3370ff;
$md-a-visited: #3370ff;
